global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log               global
  retries           3
  maxconn           2000
  timeout connect   5s
  timeout client    50s
  timeout server    50s

frontend proxy
    bind *:80
    mode http

    acl url_game path_beg /game
    use_backend spring_be if url_game

    acl url_table path_beg /table
    use_backend spring_be if url_table

    use_backend fe


backend fe
    mode http
    server fe fe.docker:2100 check

backend spring_be
    mode http
    server fe be.docker:8080 check